@model KoronavirusMvc.ViewModels.StozeriViewModel
@{
    ViewData["Title"] = "Popis stožera";
}

<h2>Popis stožera</h2>


<a asp-action="Create" class="btn btn-primary">Dodaj novi stožer</a>
<a asp-action="PDFReport" class="btn btn-primary"><i class="fas fa-print"></i> Izvoz u PDF</a>
<a class="btn btn-primary" href="@Url.Action("ExportToExcel")">Izvještaj u Excel</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Naziv stožera", "Ime predsjednika" };
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th>
                        <a asp-route-sort="@i"
                           asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
                            @nazivi[i - 1]
                        </a>
                    </th>
                }
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stozer in Model.Stozeri)
        {
            <partial name="Row" model="stozer" />
        }
    </tbody>
</table>



@section styles{
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("Edit")','sifrastozera');
            SetDeleteAjax(".deleteajax", '@Url.Action("Delete")', 'sifrastozera');
        });
    </script>
}