@model KoronavirusMvc.ViewModels.StozeriViewModel
@{
    ViewData["Title"] = "Popis stožera";
}

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Šifra stožera
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Naziv stožera
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    ID predsjednika
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stozer in Model.Stozeri)
        {
            <tr>
                <td class="text-left">@stozer.SifraStozera</td>
                <td class="text-left">@stozer.Naziv</td>
                <td class="text-left">@stozer.IdPredsjednika</td>
            </tr>
        }
    </tbody>
</table>



@section styles{
}

@section scripts{
}