@model WebApplication1.Models.PUTOVANJE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PUTOVANJE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.identifikacijski_broj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identifikacijski_broj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datum_polaska)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum_polaska)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datum_vracanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum_vracanja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sifra_putovanja }) |
    @Html.ActionLink("Back to List", "Index")
</p>
