@model IEnumerable<WebApplication1.Models.PUTOVANJE>

@{
    ViewBag.Title = "Index";
}

<h2>Putovanja</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.identifikacijski_broj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datum_polaska)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datum_vracanja)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.identifikacijski_broj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum_polaska)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum_vracanja)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sifra_putovanja }) |
            @Html.ActionLink("Details", "Details", new { id=item.sifra_putovanja }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sifra_putovanja })
        </td>
    </tr>
}

</table>
