@model KoronavirusMvc.ViewModels.OpremeViewModel
@{
    ViewData["Title"] = "Popis opreme";
}

<h2> Popis cjelokupne opreme </h2>
<a asp-action="Create"> Unos nove opreme</a>

<pager page-info="@Model.PagingInfo" page-title="Unesite željenu stranicu"
       page-action="Index" class="float-right">

</pager>

<table class="table table-sn table-striped table-hover">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Naziv institucije", "Naziv opreme", "Količina opreme", };
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th class="text-center">
                        <a asp-route-sort="@i" asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                            @nazivi[i - 1]
                        </a>
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var oprema in Model.Opremas)
        {
            <partial name="Row" model="oprema" />
        }

    </tbody>
</table>

<a asp-action="ExportToExcel" class="btn btn-primary"><i class="fas fa-file-excel"></i> Generiraj Excel</a>

<a asp-action="PDFReport" class="btn btn-primary"><i class="fas fa-print"></i> Generiraj PDF</a>

@section styles{

}

@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("Edit")','idopreme');
            SetDeleteAjax(".deleteajax", "@Url.Action("Delete")", "idopreme");
        });
    </script>
}