@model KoronavirusMvc.ViewModels.SastanciViewModel

@{
    ViewBag.Title = "Sastanci";
}

<h2>Popis sastanaka</h2>

<a asp-action="Create">Unos novog sastanka</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Naziv stožera", "Datum sastanka" };
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th>
                        <a asp-route-sort="@i"
                           asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
                            @nazivi[i - 1]
                        </a>
                    </th>
                }
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sastanak in Model.Sastanci)
        {
            <partial name="Row" model="sastanak" />
        }
    </tbody>
</table>


@section styles{
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("Edit")','sifrastozera');
            SetDeleteAjax(".deleteajax", '@Url.Action("Delete")', 'sifrastozera');
        });
    </script>
}