@model KoronavirusMvc.ViewModels.KontaktiViewModel

@{
    ViewData["Title"] = "Popis osoba s kojima su bile u kontaktu";
}

    <a asp-action="Create" class="btn btn-primary">Dodaj novi kontakt</a>
    <a asp-action="PDFReport" class="btn btn-primary"><i class="fas fa-print"></i> Generiraj PDF</a>
    <a class="btn btn-primary" href="@Url.Action("ExportToExcel")">Export Excel</a>

    <pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
           class="float-right">
    </pager>

    <table class="table table-sm table-striped table-hover" id="tablezarazena">
        <thead>
            <tr>
                @{ string[] nazivi = { "Identifikacijski broj osobe", "Ime osobe", "Prezime osobe", "Identifikacijski broj kontakta", "Ime", "Prezime"};
                    for (int i = 1; i <= nazivi.Length; i++)
                    {
        <th>
            <a asp-route-sort="@i"
               asp.route-page="@Model.PagingInfo.CurrentPage"
               asp-route-ascending="@( Model.PagingInfo.Sort ==i ? !Model.PagingInfo.Ascending : true)">@nazivi[i - 1]</a>
        </th> } }
            </tr>
        </thead>
        <tbody>
            @foreach (var kontakt in Model.Kontakti)
            {
    <partial name="Row" model="kontakt" />}
        </tbody>
    </table>

@section styles{
}

@section scripts{
}