@model KoronavirusMvc.ViewModels.KontaktiViewModel

@{
    ViewData["Title"] = "Popis osoba s kojima su bile u kontaktu";
}

    <a asp-action="Create">Dodaj novi kontakt</a>

<table class="table table-sm table-striped table-hover" id="tablekontakt">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1"
                   asp.route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@( Model.PagingInfo.Sort ==1 ? !Model.PagingInfo.Ascending : true)">Identifikacijski broj osobe</a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp.route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@( Model.PagingInfo.Sort ==2 ? !Model.PagingInfo.Ascending : true)">Ime osobe s kojom je bila u kontaktu</a>
            </th>
            <th>
                <a asp-route-sort="3"
                   asp.route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@( Model.PagingInfo.Sort ==3 ? !Model.PagingInfo.Ascending : true)">Prezime osobe s kojom je bila u kontaktu</a>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var kontakt in Model.Kontakti)
        {
        <tr>
            <td class="text-left">@kontakt.IdOsoba</td>
            <td class="text-left">@kontakt.IdKontaktNavigation.Ime</td>
            <td class="text-left">@kontakt.IdKontaktNavigation.Prezime</td>

        </tr>
        }
    </tbody>
</table>

@section styles{
}

@section scripts{
}

