@model KoronavirusMvc.ViewModels.KontaktViewModel

    <tr>
        <td class="text-left">@Model.IdOsobe</td>
        <td class="text-left">@Model.ImeOsoba</td>
        <td class="text-left">@Model.PrezimeOsoba</td>
        <td class="text-left">@Model.IdKontakt</td>
        <td class="text-left">@Model.ImeKontakt</td>
        <td class="text-left">@Model.PrezimeKontakt</td>
        <td>
            <a asp-action="Edit"
               asp-route-idOsoba="@Model.IdOsobe"
               asp-route-idKontakt="@Model.IdKontakt"
               class="btn btn-sm" title="Ažuriraj">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td>
            <form asp-action="Delete" method="post"
                  asp-route-idOsoba="@Model.IdOsobe"
                  asp-route-idKontakt="@Model.IdKontakt">
                @*<input type="hidden" name="id1" value="@kontakt.IdOsoba" />*@
                <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
            </form>

        </td>
    </tr>
