@model KoronavirusMvc.ViewModels.PregledDetailViewModel

@{
    ViewData["Title"] = "Detalji pregleda";
}

    <a asp-action="ExportToExcelDetail" asp-route-id="@Model.Pregled.SifraPregleda" class="btn btn-primary"><i class="fas fa-print"></i> Generiraj Excel</a>

<div>
    <h4>Pregled @Model.Pregled.SifraPregleda</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pregled.SifraPregleda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pregled.SifraPregleda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pregled.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pregled.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pregled.Anamneza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pregled.Anamneza)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pregled.Dijagnoza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pregled.Dijagnoza)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OsobaPregled.IdentifikacijskiBroj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OsobaPregled.IdentifikacijskiBroj)
        </dd>
    </dl>

    <a asp-action="EditDetail"
       asp-route-id="@Model.Pregled.SifraPregleda">
        Ažuriraj pregled
    </a>
</div>

<p>



</p>

<h4>Simptomi</h4>

<table class="table table-sm table-striped table-hover" id="tablesimptomi">
    <thead>
        <tr>
            <th>
                Simptomi
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var simptom in @Model.Simptomi)
        {
            <tr>
                <td class="text-left">@simptom.Opis</td>
                <td class="btn-group" style="float: right;">
                    <form asp-action="RemoveSimptom" method="post">
                        <input type="hidden" name="SifraPregleda" value="@Model.Pregled.SifraPregleda" />
                        <input type="hidden" name="SifraSimptoma" value="@simptom.SifraSimptoma" />
                        <button data-sifraSimptoma="@simptom.SifraSimptoma" data-sifraPregleda="@Model.Pregled.SifraPregleda" type="submit" class="btn btn-sm btn-danger deletesimptom" title="Ukloni">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Terapije</h4>

<table class="table table-sm table-striped table-hover" id="tableterapije">
    <thead>
        <tr>
            <th>
                Terapije
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var terapija in @Model.Terapije)
        {
            <tr>
                <td class="text-left">@terapija.OpisTerapije</td>
                <td class="btn-group" style="float: right;">
                    <form asp-action="RemoveTerapija" method="post">
                        <input type="hidden" name="SifraPregleda" value="@Model.Pregled.SifraPregleda" />
                        <input type="hidden" name="SifraTerapije" value="@terapija.SifraTerapije" />
                        <button type="submit" data-sifraTerapije="@terapija.SifraTerapije" data-sifraPregleda="@Model.Pregled.SifraPregleda" class="btn btn-sm btn-danger deleteterapija" title="Ukloni">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Natrag na listu pregleda</a>
</div>

@section scripts {
    <script type="text/javascript">
        $(function(){
            SetDeleteSimptom(".deletesimptom", '@Url.Action("RemoveSimptom")', 'sifrasimptoma', 'sifrapregleda');
        });
        $(function(){
            SetDeleteTerapija(".deleteterapija", '@Url.Action("RemoveTerapija")', 'sifraterapije', 'sifrapregleda');
        });
    </script>
}