@model KoronavirusMvc.ViewModels.PregledCreateViewModel

@{ 
    ViewBag.Title = "Ažuriranje pregleda";
}

    <form asp-route-page="@ViewBag.page"
          asp-route-sort="@ViewBag.sort"
          asp-route-ascending="@ViewBag.ascending"
          asp-action="Edit" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Pregled.Datum"></label>
            <div><span asp-validation-for="Pregled.Datum" class="text-danger"></span></div>
            <input asp-for="Pregled.Datum" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Pregled.Anamneza"></label>
            <div><span asp-validation-for="Pregled.Anamneza" class="text-danger"></span></div>
            <input asp-for="Pregled.Anamneza" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Pregled.Dijagnoza"></label>
            <div><span asp-validation-for="Pregled.Dijagnoza" class="text-danger"></span></div>
            <input asp-for="Pregled.Dijagnoza" class="form-control" />
        </div>
        <div class="form-group">
            <label>Identifikacijski broj osobe</label>
            <div><span asp-validation-for="idOsoba" class="text-danger"></span></div>
            <input asp-for="idOsoba" class="form-control" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Prihvati promjene</button>
            <a asp-action="Index"
               asp-route-page="@ViewBag.page"
               asp-route-sort="@ViewBag.sort"
               asp-route-ascending="@ViewBag.ascending"
               class="btn btn-secondary">Odustani</a>
        </div>
    </form>