@model KoronavirusMvc.ViewModels.PreglediViewModel

@{ 
    ViewData["Title"] = "Popis pregleda";
}

<a asp-action="Create">Unos novog pregleda</a>

<table class="table table-sm table-striped table-hover" id="tablepregledi">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)"
                >Šifra pregleda</a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)"
                   >Datum</a>
            </th>
            <th>
                <a asp-route-sort="3"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Anamneza</a>
            </th>
            <th>
                <a asp-route-sort="4"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">
                    Dijagnoza</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pregled in Model.Pregledi)
        {
            <tr>
                <td class="text-left">@pregled.SifraPregleda</td>
                <td class="text-left">@pregled.Datum</td>
                <td class="text-left">@pregled.Anamneza</td>
                <td class="text-left">@pregled.Dijagnoza</td>
            </tr>
        }
    </tbody>
</table>

@section styles{ 
   
}

@section scripts{
    
}