@model KoronavirusMvc.ViewModels.PreglediViewModel

@{ 
    ViewData["Title"] = "Popis pregleda";
}

<a asp-action="Create">Unos novog pregleda</a>

<table class="table table-sm table-striped table-hover" id="tablepregledi">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)"
                >Šifra pregleda</a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)"
                   >Datum</a>
            </th>
            <th>
                <a asp-route-sort="3"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Anamneza</a>
            </th>
            <th>
                <a asp-route-sort="4"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">
                    Dijagnoza</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pregled in Model.Pregledi)
        {
            <tr>
                <td class="text-left">@pregled.SifraPregleda</td>
                <td class="text-left">@pregled.Datum</td>
                <td class="text-left">@pregled.Anamneza</td>
                <td class="text-left">@pregled.Dijagnoza</td>
                <td class="btn-group">
                    <a asp-action="Edit"
                          asp-route-id="@pregled.SifraPregleda"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending"
                          class="btn btn-sm" title="Ažuriraj"
                    >
                        <i class="fas fa-edit"></i>
                    </a>

                    <form asp-action="Delete" method="post"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="SifraPregleda" value="@pregled.SifraPregleda" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section styles{ 
   
}

@section scripts{
    
}