@model PreporukaViewModel

    <tr>
        <td class="text-center">@Model.Opis</td>
        <td class="text-center">@Model.NazivOrganizacije</td>
        <td class="text-center">@Model.VrijemeObjave</td>
        <td>
            <a data-idpreporuke="@Model.SifraPreporuke" class="btn btn-sm editajax" title="Ažuriraj">
                <i class="fas fa-edit"></i>
            </a>
        </td>

        <td>
            <form asp-action="Delete" method="post">
                <input type="hidden" name="id" value="Model.SifraPreporuke" />
                <button data-idpreporuke="@Model.SifraPreporuke" type="submit" class="btn btn-sm btn-danger deleteajax" title="Obriši">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </td>
    </tr>