@model KoronavirusMvc.ViewModels.OsobaDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h4>Osoba</h4>
<hr />

<div class="podaci">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Identifikacijski broj")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentifikacijskiBroj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Datum rođenja")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatRod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zanimanje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zanimanje)
        </dd>
    </dl>
</div>

@if (Model.Zarazena == true)
{
    <div class="zarazena">
        <table class="table table-sm table-striped table-hover" id="tablekontakti">
            <thead>
                <tr>
                    <th>
                        <a>Datum zaraze</a>
                    </th>
                    <th>
                        <a>Stanje</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left">@Model.DatZaraze</td>
                    <td class="text-left">@Model.NazivStanja</td>
                    <td class="btn-group">
                        <a asp-action="EditZarazenaOsoba"
                           asp-route-id="@Model.IdentifikacijskiBroj"
                           class="btn btn-sm" title="Ažuriraj">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form asp-action="DeleteZarazenaOsoba" method="post">
                            <input type="hidden" name="id" value="@Model.IdentifikacijskiBroj" />
                            <button data-idzarazene="@Model.IdentifikacijskiBroj" type="submit" class="btn btn-sm btn-danger deleteajax" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <h6>Osoba nije zaražena.</h6>
}


<br />
<h5>Popis osoba s kojima je osoba @Model.Ime @Model.Prezime bila u kontaktu</h5>
<br />
@if (Model.Kontakti.Count == 0)
{
    <p>Osoba nije bila ni sa kim u kontaktu.</p>
}
else
{
    <div class="kontakti">
        <table class="table table-sm table-striped table-hover" id="tablekontakti">
            <thead>
                <tr>
                    <th>
                        <a>Identifikacijski broj</a>
                    </th>
                    <th>
                        <a>Ime</a>
                    </th>
                    <th>
                        <a>Prezime</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var osoba in Model.Kontakti)
                {
                    <tr>
                        <td class="text-left">@osoba.IdKontakt</td>
                        <td class="text-left">@osoba.ImeKontakt</td>
                        <td class="text-left">@osoba.PrezimeKontakt</td>
                        <td class="btn-group">
                            <form asp-action="DeleteZarazenaOsoba" method="post">
                                <input type="hidden" name="id" value="@osoba.IdOsobe" />
                                <button data-idosobe="@osoba.IdOsobe" data-idkontakt="@osoba.IdKontakt" type="submit" class="btn btn-sm btn-danger deleteajax" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>

    <a asp-action="Index">Natrag na listu</a>
    <a asp-action="Edit" asp-route-id="@Model.IdentifikacijskiBroj">Uredi</a>
</div>

@section scripts{
    <script>
        $(function () {
            SetDeleteAjax(".deleteajax", '@Url.Action("DeleteZarazenaOsoba")', 'idzarazene');
            SetEditAjax(".editajax", '@Url.Action("EditZarazenaOsoba")', 'idzarazene');
        });
    </script>
}
