@model KoronavirusMvc.ViewModels.StanjaViewModel

@{
    ViewData["Title"] = "Popis stanja";
}

    <a asp-action="Create">Dodaj novo stanje</a>

<table class="table table-sm table-striped table-hover" id="tablestanje">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1"
                   asp.route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@( Model.PagingInfo.Sort ==1 ? !Model.PagingInfo.Ascending : true)">Šifra stanja</a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp.route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@( Model.PagingInfo.Sort ==2 ? !Model.PagingInfo.Ascending : true)">Naziv stanja</a>
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var stanje in Model.Stanja)
        {
            <tr>
                <td class="text-left">@stanje.SifraStanja</td>
                <td class="text-left">@stanje.NazivStanja</td>
            </tr>
        }
    </tbody>
</table>

@section styles{
}

@section scripts{
}

