@model KoronavirusMvc.ViewModels.ZarazeneOsobeViewModel

@{
    ViewData["Title"] = "Popis zaraženih osoba";
}

<table class="table table-sm table-striped table-hover" id="tablezarazena">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1"
                   asp.route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@( Model.PagingInfo.Sort ==1 ? !Model.PagingInfo.Ascending : true)">Identifikacijski broj</a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp.route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@( Model.PagingInfo.Sort ==2 ? !Model.PagingInfo.Ascending : true)">Datum zaraze</a>
            </th>
            <th>
                <a asp-route-sort="3"
                   asp.route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@( Model.PagingInfo.Sort ==3 ? !Model.PagingInfo.Ascending : true)">Šifra stanja</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var zarazena in Model.ZarazeneOsobe)
        {
            <tr>
                <td class="text-left">@zarazena.IdentifikacijskiBroj</td>
                <td class="text-left">@zarazena.DatZaraze</td>
                <td class="text-left">@zarazena.SifraStanja</td>
                
            </tr>
        }
    </tbody>
</table>

@section styles{
}

@section scripts{
    </script>
}

