@model KoronavirusMvc.ViewModels.MjeraViewModel

    <tr>
        <td class="text-left">@Model.SifraMjere</td>
        <td class="text-left">@Model.SifraSastanka</td>
        <td class="text-left">@Model.SifraPrethodneMjere</td>
        <td class="text-left">@Model.Opis</td>
        <td class="text-left">@Model.Datum</td>
        <td class="text-left">@Model.VrijediDo</td>
        <td>
            <a data-sifrastozera="@Model.SifraMjere" class="btn btn-sm editajax" title="Ažuriraj"><i class="fas fa-edit"></i></a>
        </td>
        <td>
            <form asp-action="Delete" method="post">
                <input type="hidden" name="id" value="@Model.SifraMjere" />
                <button data-sifrastozera="@Model.SifraMjere" class="btn btn-sm btn-danger deleteajax" title="Obriši"><i class="fas fa-trash-alt"></i></button>
            </form>
        </td>
    </tr>

