@model KoronavirusMvc.ViewModels.SimptomiViewModel

@{
    ViewData["Title"] = "Popis simptoma";
}

<a asp-action="Create">Unos novog simptoma</a>

<table class="table table-sm table-striped table-hover" id="tablesimptomi">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Šifra simptoma
                </a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Ime simptoma
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var simptom in Model.Simptomi)
        {
            <tr>
                <td class="text-left">@simptom.SifraSimptoma</td>
                <td class="text-left">@simptom.Opis</td>
            </tr>

        }
    </tbody>
</table>

@section styles{

}

@section scripts{

}